/*Eli Acher 222894*/
body {
	background: #ff340040;
	
	
}

h1 {
	text-decoration: underline;
}

table, td, th {
	
	border: black 1px solid;
}

nav {
	margin-left: 80px;
	font-family: arial;
}

aside {
	background-color: #efecb6;
}